html {
    font-size: 62.5%;
}
.section {
    padding-top: 3.3rem;
    padding-bottom: 3.3rem;

    &-form {
        &__title-box {
            max-width: 24rem;
            margin: 0 auto;
            margin-bottom: nth($m,9);
    
            > img {
                width: 100%;
            }
        }
    }
}

.img-box {
    > img {
        width: 100%;
        vertical-align: middle;
        object-fit: cover;
    }
}


@include respond('sm') {
    .section {
        &-form {
            &__title-box {
                max-width: 27rem;
            }
        }
    }
}

@include respond('lg') {
    .section {
        padding-top: 6.9rem;
        padding-bottom: 6.9rem;

        &-form {
            &__title-box {
                max-width: 36rem;
            }
        }
    }
}

@include respond('xl') {
    .section {
        &-form {
            &__title-box {
                max-width: none;
                text-align: center;

                > img {
                    width: auto;
                }
            }
        }
    }
}