// 如果有很多地方用到 font
@function calc-line-height($font-size) {
    @return $font-size + 4px;
};

// menu modle
@function get-mode($list,$mode) {
    @return nth($list,$mode + 1);
}

// animation

// ring
@function ring-render($config) {
    $ring-list: inset .3rem -.1rem 0 .2rem map-get(map-get($config,bk),bk-light),
                inset -.2rem -.01rem 0 .3rem map-get(map-get($config,bk),bk-dark);
    
    @for $i from 0 through map-get(map-get($config,ring),count) - 1 {
        $ring-list: append($ring-list , 0 0 0 map-get(map-get($config,ring),start) + $i * .3rem $color-white , comma);
        $ring-list: append($ring-list , 0 0 0 map-get(map-get($config,ring),start) + ($i * .3rem) + map-get(map-get($config,ring),size) map-get(map-get($config,ring),color),comma);
    };

    @return $ring-list
};

@function ring-ball-render($ball-config,$size) {
    @return radial-gradient(circle at center , 
            map-get($ball-config,color) , map-get($ball-config,color) map-get($ball-config,#{$size}-size) / 2, transparent map-get($ball-config,#{$size}-size) / 2 )
            no-repeat map-get($ball-config,#{$size}-position) / map-get($ball-config,#{$size}-size) map-get($ball-config,#{$size}-size);
}